<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Static Navigation - SB Admin</title>
    <link href="Admin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">TRANG ADMIN</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                    aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                        class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="/homeAdmin">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Home
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Quản Lý Danh Mục
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/quanlysp">Trang Quản Lý Sản Phẩm</a>
                                <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Pages
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                    data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                                    aria-controls="pagesCollapseAuth">
                                    Authentication
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                    data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="login.html">Login</a>
                                        <a class="nav-link" href="register.html">Register</a>
                                        <a class="nav-link" href="password.html">Forgot Password</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                    data-bs-target="#pagesCollapseError" aria-expanded="false"
                                    aria-controls="pagesCollapseError">
                                    Error
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                                    data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="401.html">401 Page</a>
                                        <a class="nav-link" href="404.html">404 Page</a>
                                        <a class="nav-link" href="500.html">500 Page</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">Addons</div>
                        <a class="nav-link" href="charts.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Charts
                        </a>
                        <a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Tables
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Bootstrap
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Trang Quản Lý Sản Phẩm</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="index.html">Quản Lý Danh Mục</a></li>
                        <li class="breadcrumb-item active">Trang Quản Lý Sản Phẩm</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="container">
                                <h1>Quản lý dữ liệu</h1>
                                <table class="table">
                                    <form action="/insert-sp" method="post">

                                        <table class="table table-condensed">

                                            <tbody>

                                                <tr>
                                                    <td>
                                                        <label class="color-label" for="tenSP">Tên Sản Phẩm: </label>
                                                    </td>
                                                    <td>
                                                        <input style="width: 550px; " name="tenSP" id="tenSP"
                                                            type="text" />
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label class="color-label" for="giaSP">Giá Sản Phẩm: </label>
                                                    </td>
                                                    <td>
                                                        <input style="width: 100px;" name="giaSP" id="giaSP"
                                                            type="text" />
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label class="color-label" for="giacuSP">Giá Cũ Sản Phẩm:
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <input style="width: 100px;" name="giacuSP" id="giacuSP"
                                                            type="text" />
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label class="color-label" for="salenew">Hot New: </label>
                                                    </td>
                                                    <td>
                                                        <input style="width: 70px;" name="hotnew" id="hotnew"
                                                            type="text" />
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label class="color-label" for="SoLanBan">Tác giả: </label>
                                                    </td>
                                                    <td>
                                                        <input style="width: 500px; " name="TacGia" id="TacGia"
                                                            type="text" />
                                                    </td>
                                                </tr>



                                                <tr>
                                                    <td>
                                                        <label class="color-label" for="IdLoaiSP">Loại Sản Phẩm:
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <input style="width: 50px; " name="IdLoaiSP" id="IdLoaiSP"
                                                            type="text" />

                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label class="color-label" for="SoLuongTon">Số Lượng Tồn:
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <input style="width: 80px; " name="SoLuongTon" id="SoLuongTon"
                                                            type="text" />
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label class="color-label" for="hinhanh">Hình Ảnh: </label>
                                                    </td>
                                                    <td>
                                                        <input name="hinhanh" id="hinhanh" type="file" />
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label class="color-label" for="hinhanh1">Hình Ảnh 1: </label>
                                                    </td>
                                                    <td>
                                                        <input name="hinhanh1" id="hinhanh1" type="file" />
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label class="color-label" for="hinhanh2">Hình Ảnh2: </label>
                                                    </td>
                                                    <td>
                                                        <input name="hinhanh2" id="hinhanh2" type="file" />
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label class="color-label" for="hinhanh3">Hình Ảnh 3: </label>
                                                    </td>
                                                    <td>
                                                        <input name="hinhanh3" id="hinhanh3" type="file" />
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <td>
                                                        <label class="color-label" for="mota">Mô Tả: </label>
                                                    </td>
                                                    <td>
                                                        <textarea id="mota" name="mota"
                                                            style="width: 700px; height: 200px;">
                                                       </textarea>
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>

                                        <button style="font-size: 22px; width: 100px; height: 50px; font-weight: bold;"
                                            class="btn btn-primary">Lưu</button>
                                    </form>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div style="height: 100vh"></div>
                    <div class="card mb-4">
                        <div class="card-body">When scrolling, the navigation stays at the top of the page. This is the
                            end of the static navigation demo.</div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="Admin/js/scripts.js"></script>
</body>

</html>